<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cemdeniz.sudoku">

    <application
        android:allowBackup="true"
        android:logo="@drawable/icon"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.cemdeniz.sudoku.SudokuMain.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.cemdeniz.sudoku.SudokuDifficulties.BeginnerSudoku"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.example.cemdeniz.sudoku.SudokuDifficulties.IntermediateSudoku"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.example.cemdeniz.sudoku.SudokuDifficulties.AdvancedSudoku"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.example.cemdeniz.sudoku.SudokuDifficulties.ExpertSudoku"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.example.cemdeniz.sudoku.SudokuDifficulties.HardestSudoku"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.example.cemdeniz.sudoku.SudokuTools.CompleteSudoku"
            android:windowSoftInputMode="adjustPan"/>



    </application>

</manifest>